* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  color: rgba(22, 24, 35, 1);
  direction: ltr;
  overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(120deg, #3ca7ee, #9b408f);;
  height: 100vh;
  overflow: hidden;
}


.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
   

}

#form {



}

.register {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    padding: 20px 0px 0px;
}

.form-register{
    padding: 0 4rem;
}


.form-input {
    position: relative;
    margin: 4rem 0;
    input {
        border: none;
        border-bottom: 2px solid #adadad;
        width: 100%;
        height: 4rem;
        outline: none;
        font-size: 1.6rem;
        transition: 0.3s all;
    }
}

.form-input input:focus {
    border-color: #2691d9;
    

}



input[type='submit'] {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 1.8rem;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

input[type='submit']:hover {
	background-color: #08609a;
}


.sign-in {
    color: #666666;
    margin: 2.5rem 0;
    text-align: center;

    
}

.sign-in a {
    color: #2691d9;
	text-decoration: none;
}

.sign-in a:hover {
    text-decoration: underline;
}